<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SqlMetalIncludeGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SqlMetalIncludeGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlMetalIncludeGUI.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value/>
            </setting>
        </SqlMetalIncludeGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SqlMetalIncludeGUI.Properties.Settings>
            <setting name="SqlMetalExe" serializeAs="String">
                <!--<value>C:\Program Files\Microsoft SDKs\Windows\v6.0A\Bin\SqlMetal.exe</value>-->
								<value>C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\SqlMetal.exe</value>
            </setting>
            <setting name="NonDesignerCSharpFileWithNamespace" serializeAs="String">
                <value>namespace {Namespace}
{
    partial class {Class}
    {
        //Uncomment to give a default constructor to {Class},
        //Assumes a app setting called SqlConnectionString.
        //public {Class}() :
        //    this(Properties.Settings.SqlConnectionString)
        //{ }
    }
}</value>
            </setting>
            <setting name="NonDesignerCSharpFileWithoutNamespace" serializeAs="String">
                <value>partial class {Class}
{
    //Uncomment to give a default constructor to {Class},
    //Assumes a app setting called SqlConnectionString.
    //public {Class}() :
    //    this(Properties.Settings.SqlConnectionString)
    //{ }
}
</value>
            </setting>
            <setting name="NonDesignerVbFileWithNamespace" serializeAs="String">
                <value>Namespace {Namespace}
    Partial Class {Class}

    End Class
End Namespace</value>
            </setting>
            <setting name="NonDesignerVbFileWithoutNamespace" serializeAs="String">
                <value>Partial Class {Class}

End Class</value>
            </setting>
        </SqlMetalIncludeGUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
